In [317]:
########################################################
# Author: Izzat Zanail - izzat.zanail@gmail.com
# Language: Python 3.12
# Created: 2024-03-21
# Updated: 2024-10-13
# Project: Malaysia Super League Data Analysis
# Description: MSL Football Clubs Data Analysis from Transfermarkt website
########################################################

In [318]:
# Import libraries

import requests
import pandas as pd
import numpy as np
import math

In [319]:
# Variables

path_csv = 'C:\\Users\\izzat\\OneDrive\\Desktop\\MalaysiaSuperLeague_TransfermrktDataScraping\\datacsv'

In [320]:
# Read cvs files

df_msl_teams = pd.read_csv(path_csv + '\\' + 'MSL_TeamPages.csv')
df_msl_player = pd.read_csv(path_csv + '\\' + 'MSL_FullData.csv')

In [321]:
df_msl_teams.head(n=10)

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
0,2017,Johor Darul Ta'zim FC,36,9,"6,630,000",https://www.transfermarkt.com/johor-darul-tazi...
1,2017,Melaka United FC,52,10,"3,130,000",https://www.transfermarkt.com/melaka-united-fc...
2,2017,Kedah Darul Aman FC,33,3,"3,030,000",https://www.transfermarkt.com/kedah-darul-aman...
3,2017,Selangor FC,35,8,"2,980,000",https://www.transfermarkt.com/selangor-fc/star...
4,2017,Sri Pahang FC,33,5,"2,850,000",https://www.transfermarkt.com/sri-pahang-fc/st...
5,2017,Selangor FC II,38,7,"2,830,000",https://www.transfermarkt.com/selangor-fa-ii/s...
6,2017,Kelantan FC,45,9,"2,730,000",https://www.transfermarkt.com/kelantan-fa/star...
7,2017,Terengganu FC II,36,6,"2,580,000",https://www.transfermarkt.com/terengganu-fc-ii...
8,2017,FELDA United FC,35,8,"2,250,000",https://www.transfermarkt.com/felda-united-fc/...
9,2017,Penang FC,41,8,"2,250,000",https://www.transfermarkt.com/penang-fc/starts...

In [322]:
df_msl_teams.tail(n=10)

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
89,2024,Sabah FC,34,8,"3,890,000",https://www.transfermarkt.com/sabah-fc/startse...
90,2024,Sri Pahang FC,26,5,"3,800,000",https://www.transfermarkt.com/sri-pahang-fc/st...
91,2024,Kedah Darul Aman FC,40,5,"3,750,000",https://www.transfermarkt.com/kedah-darul-aman...
92,2024,Kuala Lumpur City FC,29,5,"3,380,000",https://www.transfermarkt.com/kuala-lumpur-cit...
93,2024,Perak FC,28,8,"3,030,000",https://www.transfermarkt.com/perak-fc/startse...
94,2024,Kuching City,37,10,"2,920,000",https://www.transfermarkt.com/kuching-city/sta...
95,2024,Kelantan Darul Naim FC,38,10,"2,610,000",https://www.transfermarkt.com/kelantan-united/...
96,2024,PDRM FC,35,9,"2,550,000",https://www.transfermarkt.com/pdrm-fa/startsei...
97,2024,Negeri Sembilan FC,30,8,"2,480,000",https://www.transfermarkt.com/negeri-sembilan-...
98,2024,Penang FC,30,5,"2,450,000",https://www.transfermarkt.com/penang-fc/starts...

In [323]:
# Filter dataframe by TEAM
df_msl_teams[df_msl_teams['TEAM'] == 'Johor Darul Takzim FC']

Empty DataFrame
Columns: [SEASON, TEAM, SQUAD_SIZE, NO_OF_FOREIGNERS, MARKET_VALUE_EUR, LINK]
Index: []

In [324]:

max_foreigners = df_msl_teams.loc[df_msl_teams['NO_OF_FOREIGNERS'].idxmax()].iloc[3]
min_foreigners = df_msl_teams.loc[df_msl_teams['NO_OF_FOREIGNERS'].idxmin()].iloc[3]

max_team_size = df_msl_teams.loc[df_msl_teams['SQUAD_SIZE'].idxmax()].iloc[2]
min_team_size = df_msl_teams.loc[df_msl_teams['SQUAD_SIZE'].idxmin()].iloc[2]

highest_value = df_msl_teams.loc[df_msl_teams['MARKET_VALUE_EUR'].idxmax()].iloc[4]
lowest_value = df_msl_teams.loc[df_msl_teams['MARKET_VALUE_EUR'].idxmin()].iloc[4]

In [325]:
# Team with MOST import players of all time
df_msl_teams[df_msl_teams['NO_OF_FOREIGNERS'] == max_foreigners]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
86,2024,Johor Darul Ta'zim FC,35,15,"10,830,000",https://www.transfermarkt.com/johor-darul-tazi...

In [326]:
# Team with LEAST import players of all time
df_msl_teams[df_msl_teams['NO_OF_FOREIGNERS'] == min_foreigners]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
59,2021,Petaling Jaya City FC,29,0,"1,540,000",https://www.transfermarkt.com/petaling-jaya-ci...
70,2022,Petaling Jaya City FC,28,0,"2,360,000",https://www.transfermarkt.com/petaling-jaya-ci...

In [327]:
# Team with BIGGEST Squad Size of all time
df_msl_teams[df_msl_teams['SQUAD_SIZE'] == max_team_size]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
84,2023,Kelantan FC,56,10,"2,500,000",https://www.transfermarkt.com/kelantan-fa/star...

In [328]:
# Team with SMALLEST Squad Size of all time
df_msl_teams[df_msl_teams['SQUAD_SIZE'] == min_team_size]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
90,2024,Sri Pahang FC,26,5,"3,800,000",https://www.transfermarkt.com/sri-pahang-fc/st...

In [329]:
# HIGEST VALUE Team of all time
df_msl_teams[df_msl_teams['MARKET_VALUE_EUR'] == highest_value]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
12,2018,Johor Darul Ta'zim FC,38,13,"11,780,000",https://www.transfermarkt.com/johor-darul-tazi...

In [330]:
# LOWEST VALUE Team of all time
df_msl_teams[df_msl_teams['MARKET_VALUE_EUR'] == lowest_value]

,SEASON,TEAM,SQUAD_SIZE,NO_OF_FOREIGNERS,MARKET_VALUE_EUR,LINK
47,2020,Sabah FC,29,6,"450,000",https://www.transfermarkt.com/sabah-fc/startse...

In [345]:
# Average Team Value Per Season

team_2024 = ["Johor Darul Ta'zim FC" ,'Selangor FC', 'Terengganu FC', 'Kedah Darul Aman FC' ,'Sri Pahang FC' ,'Kelantan Darul Naim FC' ,'Kuala Lumpur City FC' ,'Kuching City' ,'Negeri Sembilan FC' ,'PDRM FC' ,'Penang FC' ,'Perak FC' ,'Sabah FC' ]

avg_team_value = df_msl_teams.pivot_table(values='MARKET_VALUE_EUR', index='TEAM', aggfunc='mean').reset_index()
avg_team_value = avg_team_value.fillna(value=0).sort_values(by='MARKET_VALUE_EUR', ascending=False)

pd.options.display.float_format = '{:,.0f}'.format

#avg_team_value = avg_team_value.filter(items=team_2024)
avg_team_value[avg_team_value['TEAM'].isin(team_2024)]

                      TEAM  MARKET_VALUE_EUR
1    Johor Darul Ta'zim FC         8,576,250
17             Selangor FC         3,901,250
2      Kedah Darul Aman FC         3,771,250
19           Sri Pahang FC         3,260,000
20           Terengganu FC         3,197,143
6             Kuching City         3,195,000
14                Sabah FC         3,084,000
5     Kuala Lumpur City FC         3,071,667
11                Perak FC         2,870,000
8       Negeri Sembilan FC         2,782,500
10               Penang FC         2,708,000
3   Kelantan Darul Naim FC         2,615,000
9                  PDRM FC         1,936,667

In [363]:
# Team market value every season - Teams competing in season 24/25

avg_team_value_per_season = df_msl_teams.pivot_table(values='MARKET_VALUE_EUR', index='TEAM', columns='SEASON', aggfunc='mean').reset_index()
avg_team_value_per_season = avg_team_value_per_season.fillna(value=0)

#avg_team_value_per_season

avg_team_value_per_season = avg_team_value_per_season[avg_team_value_per_season['TEAM'].isin(team_2024)]

avg_team_value_per_season = avg_team_value_per_season.merge(avg_team_value, how='left', on='TEAM')
avg_team_value_per_season.rename(columns={'MARKET_VALUE_EUR': 'AVG_MARKET_VALUE_EUR'}, inplace = True)

avg_team_value_per_season.sort_values(by='AVG_MARKET_VALUE_EUR', ascending=False)

,TEAM,2017,2018,2019,2020,2021,2022,2023,2024,AVG_MARKET_VALUE_EUR
0,Johor Darul Ta'zim FC,"6,630,000","11,780,000","7,400,000","6,780,000","6,680,000","8,580,000","9,930,000","10,830,000","8,576,250"
10,Selangor FC,"2,980,000","1,900,000","2,130,000","3,930,000","3,450,000","3,910,000","5,930,000","6,980,000","3,901,250"
1,Kedah Darul Aman FC,"3,030,000","3,780,000","3,130,000","3,950,000","3,260,000","3,870,000","5,400,000","3,750,000","3,771,250"
11,Sri Pahang FC,"2,850,000","2,250,000","3,180,000","2,850,000","2,710,000","4,200,000","4,240,000","3,800,000","3,260,000"
12,Terengganu FC,0,"1,180,000","2,200,000","3,180,000","2,800,000","3,360,000","4,560,000","5,100,000","3,197,143"
4,Kuching City,0,0,0,0,0,0,"3,470,000","2,920,000","3,195,000"
9,Sabah FC,0,0,0,"450,000","2,890,000","3,550,000","4,640,000","3,890,000","3,084,000"
3,Kuala Lumpur City FC,0,"1,780,000","1,700,000",0,"3,460,000","3,500,000","4,610,000","3,380,000","3,071,667"
8,Perak FC,"1,850,000","2,450,000","2,400,000","3,200,000","3,930,000",0,"3,230,000","3,030,000","2,870,000"
5,Negeri Sembilan FC,0,"1,700,000",0,0,0,"3,160,000","3,790,000","2,480,000","2,782,500"
7,Penang FC,"2,250,000",0,0,0,"2,400,000","3,010,000","3,430,000","2,450,000","2,708,000"
2,Kelantan Darul Naim FC,0,0,0,0,0,0,"2,620,000","2,610,000","2,615,000"
6,PDRM FC,0,0,0,"850,000",0,0,"2,410,000","2,550,000","1,936,667"

In [333]:
avg_team_value_per_season

SEASON,TEAM,2017,2018,2019,2020,2021,2022,2023,2024
0,FELDA United FC,"2,250,000",0,"2,630,000","1,680,000",0,0,0,0
1,Johor Darul Ta'zim FC,"6,630,000","11,780,000","7,400,000","6,780,000","6,680,000","8,580,000","9,930,000","10,830,000"
2,Kedah Darul Aman FC,"3,030,000","3,780,000","3,130,000","3,950,000","3,260,000","3,870,000","5,400,000","3,750,000"
3,Kelantan Darul Naim FC,0,0,0,0,0,0,"2,620,000","2,610,000"
4,Kelantan FC,"2,730,000","2,880,000",0,0,0,0,"2,500,000",0
5,Kuala Lumpur City FC,0,"1,780,000","1,700,000",0,"3,460,000","3,500,000","4,610,000","3,380,000"
6,Kuching City,0,0,0,0,0,0,"3,470,000","2,920,000"
7,Melaka United FC,"3,130,000","2,780,000","3,400,000","3,250,000","2,190,000","2,370,000",0,0
8,Negeri Sembilan FC,0,"1,700,000",0,0,0,"3,160,000","3,790,000","2,480,000"
9,PDRM FC,0,0,0,"850,000",0,0,"2,410,000","2,550,000"
10,Penang FC,"2,250,000",0,0,0,"2,400,000","3,010,000","3,430,000","2,450,000"
11,Perak FC,"1,850,000","2,450,000","2,400,000","3,200,000","3,930,000",0,"3,230,000","3,030,000"
12,Perak II,0,"700,000","1,000,000",0,0,0,0,0
13,Petaling Jaya City FC,0,0,"2,000,000","2,350,000","1,540,000","2,360,000",0,0
14,Sabah FC,0,0,0,"450,000","2,890,000","3,550,000","4,640,000","3,890,000"
15,Sarawak FA,"1,430,000",0,0,0,0,0,0,0
16,Sarawak United FC,0,0,0,0,0,"2,080,000",0,0
17,Selangor FC,"2,980,000","1,900,000","2,130,000","3,930,000","3,450,000","3,910,000","5,930,000","6,980,000"
18,Selangor FC II,"2,830,000","2,250,000","1,450,000",0,0,0,0,0
19,Sri Pahang FC,"2,850,000","2,250,000","3,180,000","2,850,000","2,710,000","4,200,000","4,240,000","3,800,000"
20,Terengganu FC,0,"1,180,000","2,200,000","3,180,000","2,800,000","3,360,000","4,560,000","5,100,000"
21,Terengganu FC II,"2,580,000",0,0,0,0,0,0,0
22,UiTM United FC,0,0,0,"975,000","2,240,000",0,0,0

In [334]:
# No of import players Per Team, Per Season
no_import_players = df_msl_teams.pivot_table(values='NO_OF_FOREIGNERS', index='TEAM', columns='SEASON').reset_index()
no_import_players = no_import_players.fillna(value=0)

no_import_players

SEASON                    TEAM  2017  2018  2019  2020  2021  2022  2023  2024
0              FELDA United FC     8     0     9     5     0     0     0     0
1        Johor Darul Ta'zim FC     9    13     6     7     8    10    10    15
2          Kedah Darul Aman FC     3     8     9     6     5     7     9     5
3       Kelantan Darul Naim FC     0     0     0     0     0     0    10    10
4                  Kelantan FC     9    11     0     0     0     0    10     0
5         Kuala Lumpur City FC     0     5     5     0     4     4     8     5
6                 Kuching City     0     0     0     0     0     0    14    10
7             Melaka United FC    10     7     8     5     7     5     0     0
8           Negeri Sembilan FC     0     8     0     0     0     7     7     8
9                      PDRM FC     0     0     0     6     0     0     9     9
10                   Penang FC     8     0     0     0     5     5    10     5
11                    Perak FC     6     6     7     5     9     0     8     8
12                    Perak II     0     7     8     0     0     0     0     0
13       Petaling Jaya City FC     0     0     8     6     0     0     0     0
14                    Sabah FC     0     0     0     6     6     6     9     8
15                  Sarawak FA     6     0     0     0     0     0     0     0
16           Sarawak United FC     0     0     0     0     0     5     0     0
17                 Selangor FC     8     5     7     6     8     9    10    11
18              Selangor FC II     7     5     5     0     0     0     0     0
19               Sri Pahang FC     5     8     6     5     8     8    10     5
20               Terengganu FC     0     7     6     7     8     8    10     9
21            Terengganu FC II     6     0     0     0     0     0     0     0
22              UiTM United FC     0     0     0     9    10     0     0     0

In [335]:
max_age = df_msl_player.loc[df_msl_player['AGE'].idxmax()].iloc[4]
min_age = df_msl_player.loc[df_msl_player['AGE'].idxmin()].iloc[4]

max_value = df_msl_player.loc[df_msl_player['VALUE_EUR'].idxmax()].iloc[7]

non_zero_value = df_msl_player[df_msl_player['VALUE_EUR'] > 0]
min_value = non_zero_value.loc[non_zero_value['VALUE_EUR'].idxmin()].iloc[7]

print(max_age)
print(min_age)
print(max_value)
print(min_value)

12
-
Goalkeeper
Goalkeeper

In [336]:
df_msl_player.sort_values(by='VALUE_EUR', ascending=False).head(n=30)

,SEASON,TEAM,TEAM_CLEANED,PLAYER,NUMBER,AGE,POSITION,POSITION_TYPE,VALUE_EUR
2096,2021,Sri Pahang FC,Sri Pahang FC,Mamadou Samassa,30,30,Goalkeeper,Goalkeeper,"3,000,000"
458,2017,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Maurcio,-,28,Centre-Back,Defenders,"2,000,000"
2062,2021,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Jordi Amat,-,28,Centre-Back,Defenders,"1,500,000"
28,2016,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Jernimo Barrales,-,28,Centre-Forward,Forwards,"1,500,000"
22,2016,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Brian Ferreira,10,21,Attacking Midfield,Midfielders,"1,500,000"
2449,2022,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Jordi Amat,5,29,Centre-Back,Defenders,"1,400,000"
64,2016,Melaka United FC,Melaka United FC,Tiago Gomes,-,30,Central Midfield,Forwards,"1,200,000"
2089,2021,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Fernando Forestieri,45,30,Second Striker,Forwards,"1,000,000"
1293,2019,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Diogo,-,31,Centre-Forward,Forwards,"1,000,000"
874,2018,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Maurcio,33,29,Centre-Back,Defenders,"1,000,000"
2466,2022,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Takahiro Kunimoto,88,24,Attacking Midfield,Midfielders,"950,000"
1523,2019,Petaling Jaya City FC,Petaling Jaya City FC,Demba Camara,-,24,Centre-Forward,Forwards,"900,000"
2476,2022,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Fernando Forestieri,45,31,Second Striker,Forwards,"900,000"
481,2017,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Harry Novillo,-,24,Left Winger,Midfielders,"900,000"
486,2017,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Fernando Mrquez,-,29,Centre-Forward,Forwards,"900,000"
898,2018,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Diogo,8,30,Centre-Forward,Forwards,"850,000"
1856,2020,Sabah FC,Sabah FC,Sam Johnson,-,26,Centre-Forward,Forwards,"800,000"
2511,2022,Selangor FC,Selangor FC,Ayron del Valle,70,32,Centre-Forward,Forwards,"800,000"
2477,2022,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Heberty,37,33,Second Striker,Forwards,"800,000"
2639,2022,Terengganu FC,Terengganu FC,Nurillo Tukhtasinov,97,24,Attacking Midfield,Midfielders,"800,000"
498,2017,Kedah Darul Aman FC,Kedah Darul Aman FC,lvaro Silva,4,32,Centre-Back,Defenders,"800,000"
1451,2019,Terengganu FC,Terengganu FC,Sanzhar Shaakhmedov,22,28,Attacking Midfield,Midfielders,"800,000"
2988,2024,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Jordi Amat,5,32,Centre-Back,Defenders,"800,000"
888,2018,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Natxo Insa,5,31,Central Midfield,Midfielders,"800,000"
1286,2019,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Leandro Velzquez,18,29,Attacking Midfield,Midfielders,"800,000"
301,2016,Terengganu FC II,Terengganu FC II,Yannick N'Djeng,55,25,Centre-Forward,Forwards,"800,000"
1282,2019,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Natxo Insa,30,32,Central Midfield,Midfielders,"800,000"
218,2016,Selangor FC II,Selangor FC II,Fbio Ferreira,21,26,Right Winger,Forwards,"750,000"
1679,2020,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Gonzalo Cabrera,11,30,Left Winger,Midfielders,"750,000"
893,2018,Johor Darul Ta'zim,Johor Darul Ta'zim FC,Gonzalo Cabrera,11,28,Left Winger,Midfielders,"750,000"

In [337]:
# YOUNGEST Player of all time
df_msl_player[df_msl_player['AGE'] == min_age]

Empty DataFrame
Columns: [SEASON, TEAM, TEAM_CLEANED, PLAYER, NUMBER, AGE, POSITION, POSITION_TYPE, VALUE_EUR]
Index: []

In [338]:
# YOUNGEST Player in 2024
season_2024 = df_msl_player[df_msl_player['SEASON'] == 2024]
season_2024

youngest_2024 = season_2024.loc[season_2024['AGE'].idxmin()].iloc[4]

season_2024[season_2024['AGE'] == youngest_2024]

Empty DataFrame
Columns: [SEASON, TEAM, TEAM_CLEANED, PLAYER, NUMBER, AGE, POSITION, POSITION_TYPE, VALUE_EUR]
Index: []

In [339]:
# OLDEST Player of all time
df_msl_player[df_msl_player['AGE'] == max_age]

Empty DataFrame
Columns: [SEASON, TEAM, TEAM_CLEANED, PLAYER, NUMBER, AGE, POSITION, POSITION_TYPE, VALUE_EUR]
Index: []

In [340]:
# OLDEST Player in 2024
oldest_2024 = season_2024.loc[season_2024['AGE'].idxmax()].iloc[4]

season_2024[season_2024['AGE'] == oldest_2024]

#df_msl_player[df_msl_player['AGE'] == min_age.iloc[4]]

Empty DataFrame
Columns: [SEASON, TEAM, TEAM_CLEANED, PLAYER, NUMBER, AGE, POSITION, POSITION_TYPE, VALUE_EUR]
Index: []

In [341]:
# Average player's age per team in every season

pivot_msl = df_msl_player.pivot_table(values='AGE', index='SEASON', columns='TEAM', aggfunc='mean').fillna(value=0).round(0)

team_2024 = ["""Johor Darul Ta'zim""" ,'Selangor FC', 'Terengganu FC', 'Kedah Darul Aman FC' ,'Sri Pahang FC' ,'Kelantan Darul Naim' ,'Kuala Lumpur City FC' ,'Kuching City' ,'Negeri Sembilan FC' ,'PDRM FC' ,'Penang FC' ,'Perak FC' ,'Sabah FC' ]

pivot_msl_2024 = pivot_msl.filter(items=team_2024)
pivot_msl_2024

,Johor Darul Ta'zim,Selangor FC,Terengganu FC,Kedah Darul Aman FC,Sri Pahang FC,Kelantan Darul Naim,Kuala Lumpur City FC,Kuching City,Negeri Sembilan FC,PDRM FC,Penang FC,Perak FC,Sabah FC
SEASON,,,,,,,,,,,,,
2016,25,24,0,22,24,0,0,0,0,0,24,24,0
2017,26,24,26,24,25,0,25,0,25,0,0,25,0
2018,25,25,26,24,26,0,26,0,0,0,0,25,0
2019,25,24,25,24,25,0,0,0,0,26,0,24,26
2020,26,23,24,25,25,0,26,0,0,0,24,24,25
2021,27,23,24,25,25,0,24,0,26,0,25,0,26
2022,27,23,24,25,27,26,25,27,26,26,24,22,27
2024,29,25,27,26,28,26,28,28,26,27,26,26,28

In [342]:
# Average player's value per team in every season

pivot_msl = df_msl_player.pivot_table(values='VALUE_EUR', index='SEASON', columns='TEAM', aggfunc='mean').fillna(value=0).round(0)

team_2024 = ["""Johor Darul Ta'zim""" ,'Selangor FC', 'Terengganu FC', 'Kedah Darul Aman FC' ,'Sri Pahang FC' ,'Kelantan Darul Naim' ,'Kuala Lumpur City FC' ,'Kuching City' ,'Negeri Sembilan FC' ,'PDRM FC' ,'Penang FC' ,'Perak FC' ,'Sabah FC' ]

pivot_msl_2024 = pivot_msl.filter(items=team_2024).reset_index()
pivot_msl_2024

,SEASON,Johor Darul Ta'zim,Selangor FC,Terengganu FC,Kedah Darul Aman FC,Sri Pahang FC,Kelantan Darul Naim,Kuala Lumpur City FC,Kuching City,Negeri Sembilan FC,PDRM FC,Penang FC,Perak FC,Sabah FC
0,2016,"170,846","40,122",0,"58,424","38,020",0,0,0,0,0,"34,448","12,873",0
1,2017,"244,366","14,733","16,896","56,318","46,941",0,"30,341",0,"35,396",0,0,"30,850",0
2,2018,"240,029","52,966","59,160","62,212","118,589",0,"50,032",0,0,0,0,"78,985",0
3,2019,"213,113","64,152","74,990","68,532","72,924",0,0,0,0,"23,519",0,"56,671","17,683"
4,2020,"233,566","110,657","72,265","103,758","98,193",0,"103,562",0,0,0,"42,613","101,936","62,176"
5,2021,"247,693","79,753","63,367","63,796","184,419",0,"98,251",0,"100,096",0,"51,007",0,"80,278"
6,2022,"293,445","156,140","110,112","132,428","122,356","63,382","110,377","39,823","83,167","25,737","70,810","37,263","119,283"
7,2024,"300,873","184,240","154,945","105,296","146,154","57,965","112,895","73,524","80,231","64,694","76,860","108,282","111,190"